#svg_404 {
	position: absolute;
	right: 0;
	bottom: 41px;
	height: 40%;
	min-height: 150px;
}

section h1, section p {
	margin: 0 25px;
}

.bspace {
	line-height: 5px;
}

@media all and (min-width: 500px) {
	.bspace {
		line-height: 35px;
	}
}