#photos {
	background: #212121;
	height: 100%;
	position: absolute;
	left: 0;
	width: 25%;
	color: white;
	overflow: hidden;
	box-shadow: 5px 0 5px #111;
	z-index: 45;
}

#photos img {
	width: 100%;
}

article {
	margin-left: 25%;
	height: 100%;
	position: relative;
}

#map {
	background: #555;
	height: 400px;
	z-index: 1;
}

#description {
	padding: 15px;
}

.leaflet-control-container .leaflet-top {
	margin-top: 30px;
}

a.leaflet-control-scrollzoom.leaflet-disabled {
	cursor: pointer;
}