#photos {
	background: #212121;
	height: 100%;
	float: left;
	display: table;
	width: 25%;
	color: white;
	overflow: scroll;
	box-shadow: 5px 0 5px #c1c1c1;
	z-index: 5000;
}

#photos img {
	width: 100%;
}

article {
	margin-left: 25%;
	height: 100%;
	position: relative;
}

#map {
	background: #c1c1c1;
	height: 400px;
	z-index: 1;
}

#description {
	padding: 15px;
}

.leaflet-top .leaflet-control {
	margin-top: 40px;
}