#photos {
	background: black;
	height: 100%;
	float: left;
	display: table;
	width: 25%;
	color: white;
	overflow: scroll;
	box-shadow: 5px 0 5px black;
	z-index: 5;
}

#photos img {
	width: 100%;
}

article {
	margin-left: 25%;
	height: 100%;
	position: relative;
}

#map {
	background: orange;
	height: 400px;
}

#description {
	padding: 15px;
}