#map {
	background: #555;
	min-height: 400px;
}

#list, #search {
	display: none;
}

.leaflet-control-container .leaflet-top.leaflet-left {
	margin-top: 30px;
}

.leaflet-control-container .leaflet-top.leaflet-right {
	margin-top: 60px;
}

#buttons {
	position: absolute;
	top: 30px;
	right: 5px;
	z-index: 5;
}