h2 {
	background: #ddd;
	padding: 3px 10px;
	margin: 15px 0 10px 0;
}

p {
	padding: 0 15px;
}

ul {
	margin: 0 25px;
}

#content > *:first-child {
	margin-top: 40px;
}

#content > *:last-child {
	margin-bottom: 20px;
}

@media all and (min-width: 500px) {
	.bspace {
		line-height: 35px;
	}
}