* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: Open Sans, Liberation Sans, DejaVu Sans, sans;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dashed #454545;
	font-style: italic;
}

#wrapper {
	width: 94%;
	margin: 0 auto;
	min-height: 100%;
	height: 100%;
	position: relative;
    display: table;
}

header {
	height: 110px;
	z-index: 1;
}

header p {
	display: block;
	position: absolute;
	top: 15px;
	margin-left: 15px;
	font-size: 3.2em;
	font-weight: lighter;
}

header img {
	height: 165px;
	position: absolute;
	right: 0;
	top: -10px;
	z-index: 2;
}

#mount2 {
	right: 120px;
}

#mount3 {
	right: 240px;
}

nav {
	height: 26px;
	width: 100%;
	margin: -14px 0 0 0;
	right: 0;
	transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg); 
	-moz-transform: rotate(-1deg); 
	-o-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg); 
	position: absolute;
	z-index: 50;
}

nav ul {
	display: block;
	height: 26px;
	width: 90%;
	margin: 0 auto;
	list-style: none;
}

nav li {
	display: block;
	height: 18px;
	padding: 4px 10px;
	float: left;
	font-weight: 600;
}

nav li:first-child {
	border-left: none;
}

nav a {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	font-style: inherit;

}

nav #arrow {
	float: right;
	border-left: none;
	height: 18px;
	width: 18px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg); 
	-moz-transform: rotate(180deg); 
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg); 
	cursor: pointer;
}

nav #arrow:hover {
	border-bottom: none;
}

#content {
	z-index: 10;
	position: relative;
    height: calc(100% - 195px);
    display: table;
    padding-bottom: 41px;
    width: 100%;
}

footer {
	height: 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	text-align: center;
	font-weight: lighter;
	z-index: 50;
}

footer #copyleft {
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    opacity: 0.4;
    background: #c1c1c1;
    border-radius: 12px;
    padding: 4px;
    cursor: pointer;
    z-index: 5;
}

footer #overlay {
	text-align: left;
    position: fixed;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(150, 150, 150, 0.9);
    display: none;
    z-index: 10;
    box-shadow: inset 0 0 1000px rgba(0,0,0,0.6);
}

footer #overlay #overlaycontent {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color:  rgba(200, 200, 200, 0.9);
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.9);
    color: black;
    border-radius: 5px;
    font-weight: normal;
    font-size: 1.1em;
    overflow: hidden;
    z-index: 15;
    padding: -1px;
    border: 1px solid #c1c1c1;
}

footer #overlay #overlaycontent:hover {
    overflow: auto;
}

footer #overlay h2 {
    font-size: 1.15em;
    padding: 5px 15px;
    text-shadow: 1px 1px #ccc;
    background: #999;
    box-shadow: inset 0 0 10px #aaa, inset 0 0 1px white, 0 0 1px  #454545;
    margin: 0 0 10px 0;
    font-weight: 550;
}

footer #overlay p {
    font-size: 0.8em;
    padding: 0 25px;
    margin: 0 0 25px 0;
}

footer #overlay ul {
    font-size: 0.8em;
    padding: 0 25px;
    margin: 0 0 25px 25px;
}

@media all and (min-width: 1400px) {
	nav {
		transform: rotate(-0.5deg);
		-webkit-transform: rotate(-0.5deg); 
		-moz-transform: rotate(-0.5deg); 
		-o-transform: rotate(-0.5deg);
		-ms-transform: rotate(-0.5deg); 	
	}
}
@media all and (max-width: 800px) {
	#mount3 {
		display: none;
	}
	header img {
		height: 120px;
	}
	header {
		height: 75px;
	}
	#content {
	    height: calc(100% - 160px);
	}
	header p {
		font-size: 2em;
		top: 10px;
	}
}
@media all and (max-width: 500px) {
	#mount2 {
		display: none;
	}
	#arrow {
		display: none;
	}
	nav {
		transform: rotate(0deg) !important;
		-webkit-transform: rotate(0deg) !important;
		-moz-transform: rotate(0deg) !important; 
		-o-transform: rotate(0deg) !important;
		-ms-transform: rotate(0deg) !important;
		position: absolute !important;
	}
	#wrapper {
		width: 100%;
	}
	nav li {
		float: none;
	}
	nav, nav ul {
		height: 108px;
	}
	footer > p {
		margin: 2px 0 0 0;
		font-size: 0.8em;
	}
	footer #copyleft {
		left: 10px;
	}
	#content {
		margin-top: 99px;
		height: calc(100% - 215px);
	}
	footer #overlay #overlaycontent {
	    top: 5%;
	    left: 5%;
	    width: 90%;
	    height: 90%;
	}
}