*::selection {
    background: green;
    color:white;
    text-shadow: none;
}

*::-moz-selection {
    background: green;
    color:white;
    text-shadow: none;
}

html, body {
	background: #555;
	color: #c1c1c1;
}

#wrapper {
	box-shadow: 0 0 25px black;
	background: #212121;
}

header p {
	color: white;
	text-shadow: 0 0 15px #151515;
}

nav {
	color: #c1c1c1;
	border-bottom: 4px solid #454545;
	border-top: 1px solid #454545;
	background: #111;
}

nav li {
	border-left: 1px solid #bbb;
	text-shadow: 1px 1px 0 #222;
}

nav li:hover {
	border-bottom: 4px solid green;
}

#arrow {
    fill: #c1c1c1;
}

footer {
	border-top: 1px solid #454545;
	background: #333;
}

@media all and (max-width: 500px) {
	nav li {
		border-top: 1px solid #bbb;
		border-left: none;
	}
	nav li:first-child {
		border-top: none;
	}
	nav li:hover {
		padding-bottom: 0;
	}
}