.leaflet-control-scrollzoom {
  text-indent: -999em;
  background-image: url(../img/wheel.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.leaflet-control-scrollzoom:focus {
  outline: 0;
}
.leaflet-control-scrollzoom.leaflet-disabled {
  background-image: url(../img/wheel_over.png);
}