#buttons span {
	margin: 5px;
	padding: 5px 10px;
	font-weight: 600;
	background: #454545; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #454545 0%, #252525 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#454545), color-stop(100%,#252525)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #454545 0%,#252525 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #454545 0%,#252525 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #454545 0%,#252525 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #454545 0%,#252525 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#252525',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-radius: 5px;
	border: 1px solid #454545;
	box-shadow: 0px 0px 1px #ccc inset;
	opacity: 0.8;
}

#buttons span:hover, .leaflet-bar a:hover {
	opacity: 1;
	color: #c1c1c1;
	cursor: pointer;
}

.leaflet-touch .leaflet-bar a, .leaflet-touch .leaflet-control-layers {
	background: #454545; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #454545 0%, #252525 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#454545), color-stop(100%,#252525)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #454545 0%,#252525 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #454545 0%,#252525 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #454545 0%,#252525 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #454545 0%,#252525 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#252525',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #c1c1c1;
	opacity: 0.8;
}

.leaflet-touch .leaflet-bar, .leaflet-touch .leaflet-control-layers {
	box-shadow: 0px 0px 1px #ccc inset;
	border: 1px solid #454545;
	border-radius: 5px;
}

.leaflet-disabled {
	background-color: #050505 !important;
	color: #999 !important;
}

.leaflet-control-container .leaflet-top.leaflet-right a {
	border-bottom: none;
}

a.leaflet-control-scrollzoom.leaflet-disabled {
	cursor: pointer;
}