*::selection {
    background: purple;
    color:white;
    text-shadow: none;
}

*::-moz-selection {
    background: purple;
    color:white;
    text-shadow: none;
}

html, body {
	background: #ddd;
}

#wrapper {
	box-shadow: 0 0 25px black;
	background: white;
}

header p {
	text-shadow: 0 0 15px white, 0 0 10px white, 0 0 5px white, 0 0 15px white, 0 0 10px white, 0 0 5px white, 0 0 15px white, 0 0 10px white, 0 0 5px white, 0 0 15px white, 0 0 10px white, 0 0 5px white, 0 0 15px white, 0 0 10px white, 0 0 5px white;
}

nav {
	border-bottom: 4px solid #777;
	border-top: 1px solid #777;
	background: #999;
}

nav li {
	border-left: 1px solid #bbb;
	text-shadow: 1px 1px 0 #bbb;
}

nav li:hover {
	border-bottom: 4px solid purple;
}

footer {
	border-top: 1px solid #c1c1c1;
	background: #ddd;
}

@media screen and (max-width: 500px) {
	nav li {
		border-top: 1px solid #bbb;
		border-left: none;
	}
	nav li:first-child {
		border-top: none;
	}
	nav li:hover {
		padding-bottom: 0;
	}
}