* {
    font-family: DejaVu Sans;
    font-weight: lighter;
    text-align: center;
    text-shadow: 1px 1px black;
    margin: 0;
    padding: 0;
}

body {
    padding: 15% 3%;
    background: #212121;
    color: #c1c1c1;
}

.meter-wrap{
    position: relative;
    margin: 20px auto;
    box-shadow: 0 0 15px #666;
    width: 100%;
    border-radius: 5px;
}

.meter-wrap, .meter-value{
    height: 30px;
    background: #999;
}

.meter-value {
    position: relative;
    left: -2px;
    background-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.avancement {
    font-size: 3.5em;
}

#copyleft {
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0.4;
    background: #c1c1c1;
    border-radius: 12px;
    padding: 4px;
}