/* CSS code for the working_on page of OutdoorSport project

 1. Global rules
 2. Progress bar
 3. Credits & license
*/

/* Global rules */

* {
    font-weight: lighter;
    font-family: DejaVu Sans, sans;
    text-align: center;
    text-shadow: 1px 1px black;
    margin: 0;
    padding: 0;
    color: #c1c1c1;
}

body {
    background: #212121;
}

#home {
    margin-top: -77px;
    position: absolute;
    top: 50%;
    left: 3%;
    width: 94%;
    height: 154px;
}

/* Progress bar */

.meter-wrap{
    position: relative;
    margin: 20px auto;
    box-shadow: 0 0 15px #666;
    width: 100%;
    border-radius: 5px;
}

.meter-wrap, .meter-value{
    height: 30px;
    background: #999;
}

.meter-value {
    position: relative;
    left: -2px;
    background-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.avancement {
    font-size: 3.5em;
}

/* Credit & license */

#copyleft {
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0.4;
    background: #c1c1c1;
    border-radius: 12px;
    padding: 4px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(150, 150, 150, 0.75);
    display: none;
}

#overlay #content {
    text-align: left;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 48%;
    height: 48%;
    background-color:  rgba(200, 200, 200, 0.75);
    color: black;
    border-radius: 5px;
    text-shadow: 1px 1px white;
    font-weight: normal;
    font-size: 1.1em;
    padding: 1%;
    overflow: hidden;
}

#overlay #content:hover {
    overflow: auto;
}